<div id="<%= dom_id article %>">
  <% if article.photos.attached? %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path article.photos.first.key, width: 1280, height: 200, crop: :fill %>)">
      Breakfast
    </div>
  <% end %>

  <% article.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 450, crop: :fill %>
  <% end %>
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>
