<p style="color: green"><%= notice %></p>

<%= cl_image_tag "ndrhcai7a73qxk3pkvhw", height: 300, width: 450, crop: :fill %>
<%= cl_image_tag "amo4wzamymin9sompu6y", height: 300, width: 300, crop: :thumb, gravity: :face %>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
